.sign-in{
    width: 380px;
    display: flex;
    flex-direction: column;

    .title{
        margin: 10px 0;
    }

    .buttons{
        display: flex;
        justify-content: space-between;

        @media screen and (max-width: 500px){
            flex-direction: column;
            padding-right: 90px;
        }
    }

    @media screen and (max-width: 500px){
        width: 70vw;
    }
}